<%= simple_form_for  [@group_expense, GroupExpenseUser.new] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.fields_for @group_expense do |p| %>
  
  <div class="form-inputs">
    <%= p.input :name, required: true %>
    <%= p.input :amount, required: true, input_html: { min: '1'} %>
  </div>
  <% end %>
  <h4>Payers</h4>
  <% @group_expense.group_expense_users.each do |group_user| %>
    <div>
      <%= group_user.user.email   %>
      <td>
        <% if current_user == @owner %>
          <%= link_to "Remove member",
          group_expense_group_expense_user_path(@group_expense, group_user), 
          method: :delete %>
        <% end %>
      </td>
    </div>
  <% end %>

  <h5>Add Payers</h5>
    <%= f.input :email, required: true %>
    <%= f.button :submit, "Invite" %>
  
  <%
=begin%>
 <div class="form-actions">
    <%= f.button :submit %>
  </div> 
<%
=end%>
<% end %>
