<div data-controller="dashboard">
  <div class="btn-group col-1 " role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Add Transaction
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li>
            <button id="bank-transfer" class="dropdown-item" data-action="click->dashboard#income" data-dashboard-target="t_type" >Income</button>
        </li>
        <li>
            <button id="bank-transfer" class="dropdown-item" data-action="click->dashboard#income">Expense</button>
        </li>
        <li>
            <button id="bank-transfer" class="dropdown-item" data-action="click->dashboard#income">Bank Transfer</button>
        </li>
    </ul>
  </div>



  <%#dashboard form%>

  <div class="d-none" name="transaction_form" data-dashboard-target="transactionForm">
    <%= simple_form_for @transaction, :validate => true do |form| %>

      <% if @transaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

          <ul>
            <% @transaction.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


    <div>
        <%= form.label :date %>
        <%= form.date_select :date %>
    </div>

    <div class="field" >
        <%= form.label :type %>
        <%= form.text_field :type, data: { 'dashboard-target': 'transferType' } %>
    </div>

    <div class="field" data-dashboard-target="amount">
        <%= form.label :amount %>
        <%= form.number_field :amount, min: 1 %>
    </div>

    <div class="d-none" data-dashboard-target="category">
        <%= form.label :category %>
        <%= form.select :category, options_for_select(Transaction.categories.map {|key, value| [key.titleize, Transaction.categories.key(value)]}, @transaction.category), {}, class:"form-select " %>
    </div>


    <div class="field" data-dashboard-target="account">
        <%= form.label :account %>
        <%= form.select :transactionable_type, options_for_select(@user_accounts.collect{|type|[type, type]}), {:include_blank => true}, class:"form-select" %>
    </div>

    
    
    <div class="field d-none" data-dashboard-target="fromAccount" 
    data-dashboard-accounts="<%= @user_accounts %>">
        <%= form.label :from_account %>
        <%= form.select :transfer_from_type, options_for_select(@user_accounts.collect{|type|[type, type]}), {:include_blank => true}, class:"form-select",
        data: {controller: "dashboard", action: "change->dashboard#handleChange", 
        target: "dashboard.fromtheAccount"}
         %>
    

    <div class="field d-none" data-dashboard-target="toAccount" data-dashboard-action="click->dashboard#handleChange2">
        <%= form.label :to_account %>
        <%= form.select :transfer_to_type, options_for_select(@user_accounts.collect{|type|[type, type]}), {:include_blank => true}, class:"form-select",
        data: { action: "click->dashboard#handleChange2", target: 'dashboard.totheAccount' }
         %>
    </div>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
    <% end %>
  </div >

</div>
